<div *ngIf="course" class="course" [appCoursePlateColor]="course.date">
  <div class="course-details">
    <div class="course-properties">
      <div class="course-text">Video course {{course.id}}</div>
      <div class="course-text">{{course.duration}}</div>
      <fa *ngIf="course.starred" class="star" name="star"></fa>
      <div class="course-text">{{course.date | date}}</div>
    </div>
    <div class="course-text">{{course.description | uppercase}}</div>
  </div>
  <div class="course-controls">
    <div class="button control-button">Edit</div>
    <div class="button control-button" (click)="delete()">Delete</div>
  </div>
</div>