.course {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;    
    box-shadow: 0 0 7px 0 rgba(0,0,0,.12);
    margin: 1rem;
    padding: 1rem;
    background: #FFFFFF;
    position: relative;

    &::before {
        content: "";
        left: -0.1rem;
        width: 0.25rem;
        height: 2.25rem;
        position: absolute;
        background: #FF6008;
    }
}

.course-text {
    font: 18px/18px Lato;
    padding-right: 1rem;
}

.course-details {
    display: flex;
    flex-flow: column;
}

.course-controls {
    display: flex;
    flex-flow: column;
}

.course-properties {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1rem;
}

.button {
    width: 5rem;
    color: #FFFFFF;
    background-color: #FF6008;
    border-radius: 2rem;
    padding: 0 1rem;
    margin: 0.5rem 1rem 0 0;
    line-height: 2rem;
    cursor: pointer;
}