.course {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;    
    box-shadow: 0 0 7px 0 rgba(0,0,0,.12);
    margin: 1rem;
    padding: 1rem;
    background: #FFFFFF;
    position: relative;
}

@mixin course-plate() {
    &::before {
        content: "";
        left: -0.1rem;
        width: 0.25rem;
        height: 2.25rem;
        position: absolute;
    }
}

.course-plate_upcoming {
    @include course-plate();
    &::before {
        background: #E3E3E3;
    }
}

.course-plate_fresh {
    @include course-plate();
    &::before {
        background: #FF6008;
    }
}

.course-text {
    font: 18px/18px Lato;
    padding-right: 1rem;
}

.course-details {
    display: flex;
    flex-flow: column;
}

.course-controls {
    display: flex;
    flex-flow: column;

    @media (max-width: 530px) {
        flex-flow: row wrap;
    }
}

.course-properties {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1rem;
}

.control-button {
    margin: 0.25rem;
}

.star {
    line-height: 18px;
    color: #FF6008;
    margin-right: 1rem;
}