@import '../../styles.scss';

:host {
    background: #FFFFFF;
    border-bottom: 1px solid #EEEEEE;
}

.header {
    @include container();
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    @media (min-width: 900px) {
        padding: 1.5rem 0;
    }
}