@import '../../../styles/layout';

.breadcrumb {
  &__content {
    @include content();
    display: flex;
    padding-top: 0;
  }
}

.breadcrumb {
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumb-item {
  display: inline;
  font-size: 10px;
  line-height: 27px;
  font-weight: bold;
  text-transform: uppercase;

  & > .link {
    color: #B2B2B2;

    &.last {
      color: #515252;
    }

    &:hover {
      color: #515252;
    }
  }
}

.breadcrumb-item+.breadcrumb-item:before {
  font: normal normal normal 10px/1 FontAwesome;
  padding: 0 0.5rem;
  color: #B2B2B2;
  content: "\F105";
}
