:host {
    display: flex;
}

.logo {
    font-size: 2rem;
    line-height: 2rem;
    margin: 0 0.5rem;
    color: #FF6008;
}

.title {
    font: bold 25px/2rem Lato;
    padding: 0 0.5rem;
    cursor: pointer;
}