<div class="heading">Add new course</div>
<form [formGroup]="addCourseForm">
  <div class="fieldset">
    <input class="field input" type="text" placeholder="Title" formControlName="title">
    <textarea class="field input input__textarea" placeholder="Description" formControlName="description"></textarea>
    <app-course-date-input formControlName="date"></app-course-date-input>
    <app-course-duration-input formControlName="duration"></app-course-duration-input>
    <input class="field input" type="text" placeholder="Authors">
  </div>
  <div class="controls">
    <button class="button button_large button_alter button_wide" (click)="onCancelClick()">Cancel</button>
    <button type="submit" class="button button_large button_wide">Add New Course</button>
  </div>
</form>
<p>Form value: {{ addCourseForm.value | json }}</p>
<p>Valid: {{ addCourseForm.valid}}</p>
<p>Dirty: {{ addCourseForm.dirty}}</p>
<p>Touched: {{ addCourseForm.touched}}</p>
