.heading {
    font: bold 36px/36px Lato;
    margin: 1rem 0;
    text-align: center;
}

.fieldset {
    display: flex;
    flex-flow: column;
    margin: 0 1rem;
}

.field {
    margin-bottom: 1rem;

    &__error {
      margin-top: -1rem;
    }
}

.controls {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 1rem 2rem;
}