<div class="heading">Add new course</div>
<form [formGroup]="addCourseForm">
  <div class="fieldset">
    <input class="field input" type="text" placeholder="Title" formControlName="title">
    <textarea class="field input input_textarea" placeholder="Description" formControlName="description"></textarea>
    <input class="field input" type="text" placeholder="Date">
    <input class="field input" type="text" placeholder="Duration">
    <input class="field input" type="text" placeholder="Authors">
  </div>
  <div class="controls">
    <button class="button button_large button_alter button_wide" (click)="onCancelClick()">Cancel</button>
    <button type="submit" class="button button_large button_wide">Add New Course</button>
  </div>
</form>
<p>Form value: {{ addCourseForm.value | json }}</p>
