<button class="navigation-button">
  <fa class="chevron left first" name="chevron-left"></fa>
  <fa class="chevron left second" name="chevron-left"></fa>
</button>
<button class="navigation-button">
  <fa class="chevron left" name="chevron-left"></fa>
</button>
<div class="pages">
</div>
<button class="navigation-button">
  <fa class="chevron right" name="chevron-right"></fa>
</button>
<button class="navigation-button">
  <fa class="chevron right first" name="chevron-right"></fa>
  <fa class="chevron right second" name="chevron-right"></fa>
</button>
