$angle-color: #B2B2B2;
$text-info-color: #B2B2B2;
$input-border-color: #B2B2B2;
$input-border-color-focus: #515356;

.navigation-button {
  width: 16px;
  height: 20px;
  font-size: 14px;
  color: $angle-color;
  background-color: #FFFFFF;
  border: none;
  outline: none;
  padding: 0;
  margin: 0 -2px;
  cursor: pointer;
}

.page-input {
  font-size: 14px;
  line-height: 20px;
  height: 20px;
  width: 30px;
  background-color: transparent;
  border-color: $input-border-color;
  text-align: center;
  padding: 0;
  margin: 0 2px;

  &:focus {
    border-color: $input-border-color-focus;
  }
}

.pages {
  display: inline-block;
  overflow-x: auto;
}

.pager {
  color: $text-info-color;
  display: inline-block;
  margin: 0 2px;
}
