.add-button {
    width: 7rem;
    margin-left: 0.5rem;
}

.flex-item {
    margin-top: 0.25rem;
}

.search-container {
    display: flex;
    flex: 1 0 auto;
}

.controls-container {
    display: flex;
    flex-flow: column;
    background-color: #FFFFFF;
    padding: 0.5rem 1rem;
}

@media (min-width: 400px) {
    .controls-container {
        display: flex;
        flex-flow: row;
    }
}

.courses-container {
    padding: 0.5rem;
    display: flex;
    flex-flow: column;
}