.controls {
    display: flex;
    flex-flow: row wrap;
}

.login {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-right: 1rem;
    cursor: pointer;
    color: #515356;    
}

.logout {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-right: 2rem;
    cursor: pointer;
    color: #515356;    
}