<div
  class="overlay-origin"
  cdkOverlayOrigin
  #origin="cdkOverlayOrigin">
  <button class="button__icon simple button-user">
    <fa name="user-circle"></fa>
  </button>
</div>

<ng-template
  cdkConnectedOverlay
  hasBackdrop
  backdropClass="cdk-overlay-transparent-backdrop"
  [cdkConnectedOverlayOrigin]="origin"
  [cdkConnectedOverlayOpen]="isOpen"
  [cdkConnectedOverlayPositions]="positionList"
  (backdropClick)="close()">
  <ul class="popover__container user-info__container">
    <li class="user-info__header">
      <span>Signed in as </span>
      <div class="user-info__header-text">{{userInfo.firstName}} {{userInfo.lastName}}</div>
    </li>
    <li class="user-info__divider"></li>
    <li>
      <a [routerLink]="['']" class="link link-login user-info__item" (click)="onSignOutClick()">Sign out</a>
    </li>
  </ul>
</ng-template>
