<div class="course" [appCoursePlateColor]="course.date">
  <div class="heading-container">
    <button [ngClass]="{'starred': course.starred }" class="button__icon button__icon_alter button-star">
      <fa name="star"></fa>
    </button>
    <a [routerLink]="['./edit/', course.id]" class="heading link">{{course.name | uppercase}}</a>
    <button class="button__icon button__icon_alter button-delete" (click)="onDeleteClick()">
      <fa name="times-circle"></fa>
    </button>
  </div>
  <div class="description">{{course.description}}</div>
  <div class="info">
    <div class="date">{{course.date | date}}</div>
    <div>{{course.duration | courseDuration}}</div>
  </div>
</div>
