.heading-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    line-height: 20px;
    margin-bottom: 1rem;
}

.heading {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
}

.delete-icon {
    font-size: 20px;
}

.description {
    color: #B2B2B2;
    font: 14px/14px Lato;
    margin-bottom: 1rem;
}

.info-container {
    color: #B2B2B2;
    font: 14px/14px Lato;
    display: flex;
    justify-content: flex-start;
}

.course {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;    
    box-shadow: 0 0 7px 0 rgba(0,0,0,.12);
    margin: 1rem;
    padding: 1rem;
    background: #FFFFFF;
    position: relative;
}

@mixin course-plate() {
    &::before {
        content: "";
        left: -0.1rem;
        width: 0.25rem;
        height: 2.25rem;
        position: absolute;
    }
}

.course-plate_upcoming {
    @include course-plate();
    &::before {
        background: #E3E3E3;
    }
}

.course-plate_fresh {
    @include course-plate();
    &::before {
        background: #FF6008;
    }
}

.date {
    text-transform: uppercase;
    width: 6rem;
}

.star {
    color: #FF6008;
    margin-right: 0.5rem;

    &_not {
        color: #B2B2B2;
    }
}