<div class="fieldset">
  <input class="field input" type="text" placeholder="Title">
  <textarea class="field input input_textarea" placeholder="Description"></textarea>
  <input class="field input" type="text" placeholder="Date">
  <input class="field input" type="text" placeholder="Duration">
  <input class="field input" type="text" placeholder="Authors">
</div>
<div class="controls">
  <button class="button button_large button_optional button_wide" (click)="onCancelClick()">Cancel</button>
  <button type="submit" class="button button_large button_wide">Add New Course</button>
</div>
