.heading {
    font: bold 36px/36px Lato;
    margin: 1rem 0;
    text-align: center;
}

.fieldset {
    display: flex;
    flex-flow: column;
    margin: 0 1rem;
}

.field {
    margin: 1rem 0;
}

.controls {
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;    
}