<div class="form-field">
  <label class="form-label">Title</label>
  <div class="form-input">
    <input type="text">
  </div>
</div>
<div class="form-field">
  <label class="form-label">Description</label>
  <div class="form-input">
    <textarea></textarea>
  </div>
</div>
<div class="form-field">
  <label class="form-label">Date</label>
  <div class="form-input">
    <input type="text">
  </div>
</div>
<div class="form-field">
  <label class="form-label">Duration</label>
  <div class="form-input">
    <input type="text">
  </div>
</div>
<div class="form-field">
  <label class="form-label">Authors</label>
  <div class="form-input">
    <input type="text">
  </div>
</div>
<button type="submit" class="button button_large">Save</button>
<button class="button button_large" (click)="onCancelClick()">Cancel</button>
