.container {
    margin: 1rem;
}

.controls {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 1rem;
}

.header {
    margin: 1rem 0;
    font: 20px/20px Lato;
}

.input {
    font: 18px/18px Lato;
    padding: 0 1rem;
    color: #000000;
    background-color: #EEEEEE;
    line-height: 3rem;
    border: none;
}

.input:focus {
    outline: #FF6008 solid 1px;
}

.input::placeholder {
    color: #B6B6B6;
}

.button {
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    background-color: #FF6008;
    border-radius: 2rem;
    line-height: 3rem;
    cursor: pointer;
    max-width: 12rem;
}