.button {
    font: 12px/12px Lato;
    width: 5rem;
    outline: none;
    color: #FFFFFF;
    background-color: #FF6008;
    border: 1px solid #FF6008;
    border-radius: 2rem;
    padding: 0 1rem;
    line-height: 2rem;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;

    &_large {
        line-height: 3rem;
    }

    &:hover {
        color: #FF6008;
        background-color: #FFFFFF;
        border: 1px solid #FF6008;
    }

    &_optional {
        color: #000000;
        background-color: #FFFFFF;
        border: 1px solid #DFDFDF;

        &:hover {
            color: #000000;
            background-color: #FFFFFF;
            border: 1px solid #000000;
        }
    }
}