@import '../../styles.scss';

:host {
    background: #E3E3E3;
}

.footer {
    @include container();
    display: flex;
    flex: none;
    padding: 1.5rem 0;
}

.text {
    padding-left: 1rem;
    font: 14px/14px Lato;
    color: #747578;
}