$button-hover-in-time: 0.2s;
$button-hover-out-time: 0.7s;

:host {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.selector {
  width: 15rem;
  color: #B2B2B2;
  user-select: none;
}

.controls {
  height: 45px;
  vertical-align: top;
  display: inline-flex;
  flex-direction: column;
  margin-left: -18px;
}

.field {
  font-weight: bold;
  font-size: 16px;
  color: #B2B2B2;
  line-height: 3rem;
  height: 3rem;
}

.field-container {
  display: flex;
}

.triangle {
  height: 45px;
  line-height: 45px;
  font-size: 12px;
  color: #515253;
}

.item {
  display: flex;
  padding: 0.2rem 0;
  cursor: pointer;
}

.item-checkbox {
  margin-right: 0.5rem;
}

.item-label {
  display: inline-block;
  color: #515253;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
}
