<div
  class="overlay-origin"
  cdkOverlayOrigin
  #origin="cdkOverlayOrigin">
  <div class="field-container">
    <div class="input__label field">Authors ({{selected.length}} Selected)</div>
    <fa *ngIf="!isOpen" class="triangle" name="chevron-down"></fa>
    <fa *ngIf="isOpen" class="triangle" name="chevron-up"></fa>
  </div>
</div>

<ng-template
  cdkConnectedOverlay
  hasBackdrop
  backdropClass="cdk-overlay-transparent-backdrop"
  [cdkConnectedOverlayOrigin]="origin"
  [cdkConnectedOverlayOpen]="isOpen"
  (backdropClick)="close()">
  <ul class="dialog__container">
    <li *ngFor="let author of authors" class="item" (click)="changeSelection(author)">
      <div class="checkbox__container item-checkbox" [class.checkbox__container_checked]="isOptionSelected(author)"></div>
      <div class="item-label">{{author.firstName}} {{author.lastName}}</div>
    </li>
  </ul>
</ng-template>
