.add-button {
    width: 12em;
    line-height: 1.9rem;
    margin-left: 0.5rem;
    text-decoration: none;
}

.search-container {
    display: flex;
    flex: 1 0 auto;
}

.controls-container {
    display: flex;
    flex-flow: column;
    background-color: #FFFFFF;
    padding: 0.5rem 1rem;
}

.paging {
  margin: 0 auto;
}

@media (min-width: 400px) {
    .controls-container {
        display: flex;
        flex-flow: row;
    }
}

.courses-container {
    padding: 0.5rem;
    display: flex;
    flex-flow: column;
    margin-bottom: 1rem;
}

.courses-empty-message {
    font: bold 16px/16px Lato;
    background: #E3E3E3;
    color: #515356;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}
