<div class="controls-container">
  <div class="search-container">
    <input #searchInput [(ngModel)]="pattern" type="text" class="search-field">
    <fa name="search" class="search-button" (click)="search(searchInput.value)"></fa>
  </div>
  <a class="button add-button" [routerLink]="['./add']">Add course</a>
</div>
<div class="courses-container">
  <div *ngIf="courses.length === 0" class="courses-empty-message">No data. Feel free to add new course.</div>
  <app-course-details *ngFor="let course of courses | coursesOrder" [course]="course" (onDelete)="deleteCourse($event)"></app-course-details>
</div>
<app-paging [totalPages]="20"></app-paging>
<div class="paging-controls">
  <button class="button" (click)="onPrevPageClick()" [disabled]="pageNumber === 0">&lt;</button>
  <button class="button" (click)="onNextPageClick()">&gt;</button>
</div>
