<div class="controls-container">
  <div class="search-container">
    <input type="text" class="search-field" [formControl]="filter">
    <fa name="search" class="search-button"></fa>
  </div>
  <a class="button add-button" [routerLink]="['./add']">Add course</a>
</div>
<div class="courses-container" *ngIf="!(loading | async)">
  <app-paging [totalPages]="totalPages | async" [currentPage]="currentPage | async" (pageChanged)="onPageChange($event)" class="paging"></app-paging>
  <div *ngIf="(courses | async).length === 0" class="courses-empty-message">
    {{ filter.value != null && filter.value.length > 0 ? 'No courses fitting your filter' : 'No data. Feel free to add new course.' }}
  </div>
  <app-course-details *ngFor="let course of courses | async | coursesOrder" [course]="course" (onDelete)="deleteCourse($event)"></app-course-details>
  <app-paging [totalPages]="totalPages | async" [currentPage]="currentPage | async" (pageChanged)="onPageChange($event)" class="paging"></app-paging>
</div>
