@import '../../styles/layout';

.add-button {
    width: 12em;
    height: 2rem;
    text-decoration: none;
}

.search-container {
    display: flex;
    flex: 1 0 auto;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}

.controls-container {
    display: flex;
    flex-flow: column;
    background-color: #FFFFFF;
    margin-bottom: 0.5rem;
}

.paging {
  margin: 0 auto 1rem auto;
}

@media (min-width: $layout-small-width-threshold) {
    .controls-container {
        display: flex;
        flex-flow: row;
    }
}

.courses-container {
    display: flex;
    flex-flow: column;
}

.courses-empty-message {
    font: bold 16px/16px Lato;
    background: #E3E3E3;
    color: #515356;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}

.search-field {
    font: 16px/16px Lato;
    color: #515253;
    height: 2rem;
    border-radius: 2rem;
    border: 1px solid #DEDEDE;
    flex: 1 0 auto;
    padding: 0 1rem;
    outline: none;
    appearance: none;
}

.search-button {
  font-size: 1rem;
  line-height: 2rem;
  margin-left: -2rem;
  margin-right: 1rem;
  color: #515356;
}
