:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog-container {
  padding: 1.5rem;
  background-color: #FFFFFF;
}

.controls-container {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.dialog-text {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: #333333;
}

.dialog-button {
  width: 7rem;
}
