:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dialog-container {
    padding: 2rem;
    background-color: #FFFFFF;
}

.controls-container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.dialog-text {
    font: 18px/18px Lato;
}