.container {
    margin: 1rem;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.field {
    margin-bottom: 1rem;

    &__error {
        color: #FF6008;
        font: 12px/1rem Lato;
        margin-top: -1rem;
    }
}
  

.controls {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;    
}

.form-group {
    margin-bottom: 1rem;
}

.header {
    color: #333333;
    font-size: 42px;
    line-height: 42px;
    font-weight: bold;
    margin-bottom: 2rem;
}