.container {
    margin: 1rem;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.controls {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;    
}

.form-group {
    margin-bottom: 1rem;
}

.header {
    margin: 1rem 0;
    font: 20px/20px Lato;
}