<div class="container">
  <div class="header">Log into your account</div>
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="login-form">
    <input [(ngModel)]="userName" name="name" type="text" class="input form-group" placeholder="Email Address">
    <input [(ngModel)]="userPassword" name="password" type="password" class="input form-group" placeholder="Password">
    <div class="controls">
      <button class="button button_large button_alter button_wide" (click)="onCancelClick()">Cancel</button>
      <button type="submit" class="button button_large button_wide">Log in</button>
    </div>
  </form>
</div>
