.header {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 7px rgba(27, 31, 35, 0.35);
}

.header-logo {
    margin: 0 auto;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.logo {
    font-size: 32px;
    margin-right: 0.5rem;
    color: #515253;
}

.title {
    line-height: 32px;
    font-size: 24px;
    font-weight: bold;
}

.main-container {
    padding: 70px 40px;
}

.form-container {
    width: 500px;
    margin: auto;
    padding: 2rem;
    box-shadow: 0 2px 7px rgba(27, 31, 35, 0.35);
}

.login-form {
    display: flex;
    flex-direction: column;
}

.field {
    margin-bottom: 1rem;

    &__error {
        color: #FF6008;
        font: 12px/1rem Lato;
        margin-top: -1rem;
    }
}

.controls {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-around;
  margin: 0 1rem;    
}

.form-group {
    margin-bottom: 1rem;
}

.form-header {
    text-align: center;
    color: #515253;
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 2rem;
}