<form [formGroup]="loginForm" class="login-form" (keydown)="onKeyDown($event)">
  <div class="form-header">Login to Your Account</div>
  <input formControlName="username" type="text" class="input field" placeholder="Email Address">
  <span class="field__error" *ngIf="showControlError('username')">
      {{ getControlError('username') }}
    </span>
  <input formControlName="password" type="password" class="input field" placeholder="Password">
  <span class="field__error" *ngIf="showControlError('password')">
      {{ getControlError('password') }}
    </span>
  <div class="controls">
    <button type="submit" class="button button_large button_wide" (click)="onSubmit()" [class.button_disabled]="!loginForm.valid">Sign in</button>
  </div>
</form>
