@import '../../styles/layout';

.header {
  &__content {
    @include content();
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    height: 32px;
    line-height: 32px;
  }
}
