<div class="input__label">Duration</div>
<input
  [(ngModel)]="value"
  (change)="onChange()"
  (keyup)="onChange()"
  (keypress)="onKeyPress($event)"
  (paste)="onPaste($event)"
  (drop)="onDrop($event)"
  class="input duration"
  type="text">
<div class="controls">
  <button class="control__button control__button_up" (click)="onUpClick()">
    <fa name="angle-up" class="triangle"></fa>
  </button>
  <button class="control__button control__button_down" (click)="onDownClick()">
    <fa name="angle-down" class="triangle"></fa>
  </button>
</div>
<div class="result" *ngIf="value != null && value.length > 0 ">{{ value | courseDuration }}</div>
