.heading {
    color: #515253;
    font: bold 42px/42px Lato;
    margin-bottom: 1rem;
}

.fieldset {
    display: flex;
    flex-flow: column;
    margin: 0;
}

.group {
  display: flex;
  justify-content: space-between;
}

.field {
  margin-bottom: 1rem;

  &__error {
    color: #FF6008;
    font: 12px/1rem Lato;
    margin-top: -1rem;

    &:first-letter {
      text-transform: uppercase;
    }
  }
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.button-cancel {
  margin-right: 0.25rem;
}

.button-update {
  margin-left: 0.25rem;
}
