$button-hover-in-time: 0.2s;
$button-hover-out-time: 0.7s;

:host {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.field {
  margin-bottom: 1rem;
}

.duration {
  width: 80px;
}

.controls {
  height: 45px;
  vertical-align: top;
  display: inline-flex;
  flex-direction: column;
  margin-left: -23px;
}

.control {
  &__button {
    color: #525457;
    width: 23px;
    height: 23px;
    padding: 0;
    background-color: transparent;
    border: none;
    display: flex;
    transition: background-color $button-hover-out-time, color $button-hover-out-time;

    &:hover {
      color: #EEEEEE;
      background-color: #515356;
      transition: background-color $button-hover-in-time, color $button-hover-in-time;
    }

    &:focus {
      outline: none;
    }
  }
}

.triangle {
  font-size: 12px;
  color: inherit;
  margin: auto;
}

.result {
  font: bold 12px/30px Lato;
  color: #B2B2B2;
  margin-left: 20px;
  padding-left: 15px;
  height: 30px;
  border-left: #B2B2B2 solid 1px;
}
