$button-hover-in-time: 0.2s;
$button-hover-out-time: 0.7s;
$button-alter-hover-in-time: 0.3s;
$button-alter-hover-out-time: 0.3s;

.button {
    font: bold 10px/10px Lato;
    letter-spacing: 2px;
    outline: none;
    color: #FFFFFF;
    border: 1px solid #FF6008;
    background-color: #FF6008;
    border-radius: 2rem;
    padding: 0 1rem;
    line-height: 2rem;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color $button-hover-out-time, color $button-hover-out-time, border-color $button-hover-out-time;

    &__icon {
        cursor: pointer;
        background-color: transparent;
        color: #333333;
        border: none;
        margin: 0;
        padding: 0;
        transition: color $button-hover-out-time;

        &:focus {
            outline: none;
        }

        &:not(.simple):hover {
            color: #FF6008;
            transition: color $button-hover-in-time;
        }

        &_alter {
            color: #B2B2B2;

            &:hover {
                color: #515356;
            }
        }
    }

    &_wide {
        max-width: 12rem;
        width: 100%;
    }

    &_large {
        line-height: 3rem;
    }

    &:hover {
        color: #FF6008;
        background-color: #FFFFFF;
        border: 1px solid #FF6008;
        transition: background-color $button-hover-in-time, color $button-hover-in-time, border-color $button-hover-in-time;
    }

    &_disabled, &_disabled:hover {
        color: #FF6008;
        background-color: #FFFFFF;
        border: 1px solid #FF6008;
    }

    &_optional {
      color: #FFFFFF;
      border: 1px solid #333333;
      background-color: #333333;

      &:hover {
        border: 1px solid #515356;
        background-color: #515356;
        transition: background-color $button-hover-in-time, color $button-hover-in-time, border-color $button-hover-in-time;
      }
    }

    &_basic {
      color: #FFFFFF;
        background-color: #333333;
        border: 1px solid #333333;

        &:hover {
            color: #FFFFFF;
            background-color: #515356;
            border: 1px solid #515356;
        }
    }

    &_alter {
      color: #000000;
        background-color: #FFFFFF;
        border: 1px solid #DFDFDF;
        transition: background-color $button-alter-hover-out-time, color $button-alter-hover-out-time, border-color $button-alter-hover-out-time;

        &:hover {
            color: #000000;
            background-color: #FFFFFF;
            border: 1px solid #000000;
            transition: background-color $button-alter-hover-in-time, color $button-alter-hover-in-time, border-color $button-alter-hover-in-time;
        }
    }

    &_optional {
        color: #000000;
        background-color: #DFDFDF;
        border: 1px solid #DFDFDF;

        &:hover {
            color: #000000;
            background-color: #FFFFFF;
            border: 1px solid #DFDFDF;
          }
    }
}
