$checkbox-unchecked-border-color: #DDDDDD;
$checkbox-unchecked-color: #FFFFFF;
$checkbox-checked-color: #515253;
$checkbox-hover-color: #515253;
$checkbox-hover-in-time: 0.1s;
$checkbox-hover-out-time: 0.2s;
$checkbox-size: 18px;

.checkbox {
  &__container {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
    width: $checkbox-size;
    height: $checkbox-size;
    border: $checkbox-unchecked-border-color solid 1px;
    border-radius: 5px;
    background-color: $checkbox-unchecked-color;
    transition: background-color $checkbox-hover-out-time;

    &_checked {
      background-color: $checkbox-checked-color;

      &::after {
        content: '';
        position: absolute;
        left: 4px;
        top: 8px;
        background: white;
        width: 2px;
        height: 2px;
        box-shadow:
        2px 0 0 white,
        4px 0 0 white,
        4px -2px 0 white,
        4px -4px 0 white,
        4px -6px 0 white,
        4px -8px 0 white;
        transform: rotate(45deg);
      }
    }

    &:hover {
      background-color: $checkbox-hover-color;
      transition: background-color $checkbox-hover-in-time;
    }
  }
}
