.input {

  &__single {
    box-sizing: border-box;
    font: bold 12px/14px Lato;    
    padding: 0 20px;
    color: #515253;
    background-color: #EEEEEE;
    max-width: 425px;
    height: 45px;
    line-height: 45px;
    border: #EEEEEE solid 1px;
    appearance: none;

    &:focus {
      outline: none;
      border-color: #B6B6B6;
    }

    &::placeholder {
      color: #B2B2B2;
      font-weight: bold;
    }

    &.ng-touched.ng-invalid {
      border-color: #FC7124;
    }
  }

  &__label {
    display: inline-block;
    font: bold 10px/14px Lato;
    letter-spacing: 1px;
    color: #515253;
    padding-right: 1rem;
    text-transform: uppercase;
  }

  &__textarea {
    box-sizing: border-box;
    font: bold 12px/14px Lato;    
    padding: 15px 20px;
    color: #515253;
    background-color: #EEEEEE;
    max-width: 425px;
    min-height: 60px;
    resize: vertical;
    border: #EEEEEE solid 1px;    
    appearance: none;

    &:focus {
      outline: none;
      border-color: #B6B6B6;
    }

    &::placeholder {
      color: #B2B2B2;
      font-weight: bold;
    }

    &.ng-touched.ng-invalid {
      border-color: #FC7124;
    }
  }

  &__wrapper.ng-touched.ng-invalid .input__single {
    border-color: #FC7124;
  }
}
