.input {
    font: 18px/18px Lato;
    padding: 0 1rem;
    color: #000000;
    background-color: #EEEEEE;
    line-height: 1em;
    height: 3rem;
    border: #EEEEEE solid 1px;

    &__textarea {
        line-height: 1.3em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        min-height: 3rem;
        resize: vertical;
    }

    &_invalid {
      border-color: #FC7124;
    }
}

.input:focus {
    outline: none;
    border: #B6B6B6 solid 1px;
}

.input::placeholder {
    color: #B6B6B6;
}

.input_invalid:focus {
  border-color: #FC7124;
}