$hover-in-time: 0.2s;
$hover-out-time: 0.4s;

.link {
    color: #333333;
    text-decoration: none;
    transition: color $hover-out-time;

    &.disabled {
      pointer-events: none;
      cursor: default;
    }
}

.link:hover:not(.disabled) {
    color: #FF6008;
    transition: color $hover-in-time;
}
